<h1>Создать новую транзакцию</h1>
<%= form_with model: @transaction, url: accounts_path do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.label :transaction_type %>
    <%= form.select :transaction_type, ['income', 'expense'] %>
  </div>
  <div>
    <%= form.submit 'Создать транзакцию' %>
  </div>
<% end %>